/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
    .help_hero{
    padding-top: 25px;
}
	.sell_right .button {
		margin: 15px auto;
		float: none;
		max-width: 250px;
	}
	.sell_descr {
		text-align: center;
	}

	.maian_mnu ul {
		background-color: #fff;
		display: none;
		position: block;
        padding: 0px;
	}
	.maian_mnu ul li {
        padding: 0px;
		display: block;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .next_button, .prev_button {
	display: none!important;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 520px) {
        .help_hero{
    margin-top: -30px;
    padding: 0px;
}
}
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.top_links {
		display: inline-block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.maian_mnu ul {
		display: block !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}